<div class="widget" id="<%= id %>">
    <div class="invisible widget-options" style="position: absolute; z-index: 10">
        <form data-id="<%= id %>" data-service="time">
            <div class="form-group row">
                <label for="widget_time_title_<%= id %>" class="col-sm-6 col-form-label">Titre</label>
                <div class="col-sm-6">
                    <input class="form-control" id="widget_time_title_<%= id %>" style="width: 100%" name="title" value="<%= title %>" placeholder="Paris" type="text" required/>
                </div>
            </div>
            <div class="form-group row">
                <label for="widget_time_city_<%= id %>" class="col-sm-6 col-form-label">City</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" name="city" id="widget_time_city_<%= id %>" value="<%= city %>" required/>
                </div>
            </div>
            <div class="form-group row">
                <label for="widget_time_refresh_<%= id %>" class="col-sm-6 col-form-label">Actualiser</label>
                <div class="col-sm-6">
                    <input class="form-control" type="number" name="refresh" id="widget_time_refresh_<%= id %>" value="<%= refresh %>" required/>
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Envoyer</button>
            </div>
        </form>
    </div>
    <div class="visible widget-content" style="z-index:1;color: #AAAAAA;">
        <div class="container-fluid">
            <% if (error == true) { %>
                <div class="row">
                    city Not Found
                </div>
            <% } else { %>
                <div class="row">
                    <%= city %>
                </div>
                <div class="row">
                    <%= date %>
                </div>
                <div class="row">
                    <%= time %>
                </div>
            <% } %>
        </div>
    </div>
</div>
</div>