<div class="widget" id="<%= id %>">
    <div class="invisible widget-options" style="position: absolute; z-index: 10">
        <form data-id="<%= id %>" data-service="weather">
            <div class="form-group row">
<<<<<<< HEAD
                <label for="widget_weather_title_<%= id %>" class="col-sm-6 col-form-label">Titre</label>
                <div class="col-sm-6">
                    <input class="form-control" id="widget_weather_title_<%= id %>" style="width: 100%" name="title" value="<%= title %>" placeholder="Paris" type="text" required/>
=======
                <label for="widget_weather_title_<%= id %>" class="col-sm-2 col-form-label">Titre</label>
                <div class="col-sm-10">
                    <input class="form-control" id="widget_weather_title_<%= id %>" style="width: 100%" name="title" value="<%= title %>" placeholder="Paris" type="text"/>
>>>>>>> Develop
                </div>
            </div>
            <div class="form-group row">
                <label for="widget_weather_city_<%= id %>" class="col-sm-6 col-form-label">Ville</label>
                <div class="col-sm-6">
                    <input class="form-control" id="widget_weather_city_<%= id %>" style="width: 100%" name="city" value="<%= city %>" placeholder="Paris" type="text" required/>
                </div>
            </div>
            <div class="form-group row radio">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="degree" id="widget_weather_degree_c_<%= id %>" value="c" required
                    <% if (degree == 'c') { %> checked
                            <% } %>
                    />
                    <label class="form-check-label" for="widget_weather_degree_c_<%= id %>">Celsius</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="degree" id="widget_weather_degree_f_<%= id %>" value="f" required
                    <% if (degree == 'f') { %> checked
                            <% } %>
                    />
                    <label class="form-check-label" for="widget_weather_degree_f_<%= id %>">Fahrenheit</label>
                </div>
            </div>
            <div class="form-group row">
                <label for="widget_weather_nbDays_<%= id %>" class="col-sm-6 col-form-label">Jours</label>
                <div class="col-sm-6">
                    <input class="form-control" type="number" name="nbDays" id="widget_weather_nbDays_<%= id %>" value="<%= nbDays %>" required/>
                </div>
            </div>
            <div class="form-group row">
                <label for="widget_weather_refresh_<%= id %>" class="col-sm-6 col-form-label">Actualiser</label>
                <div class="col-sm-6">
                    <input class="form-control" type="number" name="refresh" id="widget_weather_refresh_<%= id %>" value="<%= refresh %>" required/>
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Envoyer</button>
            </div>
        </form>
    </div>
    <div class="visible widget-content widget-scrollbar" style="color: #AAAAAA"; z-index: 1">
        <h2 data-weather="title"><%= city %></h2>
        <div class="container-fluid">
            <tr data-weather="day1" style="background-color: #FFFFFF;">
                <span data-weather="day" style="color: black"> Today </span>
                    <table style="background-color: #FFFFFF; margin:auto; font-family: Roboto,serif; color: #868686;" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr data-weather="day1" style="background-color: #FFFFFF;">
                                <td data-weather="temp" style="background-color: #FFFFFF;" colspan="2">
                                    <div class="temperature" data-weather="temp" style="color: #EB1924;">
                                            <%= temperature %>
                                    </div>
                                </td>
                                <td data-weather="image" colspan="3" style="background-color: #FFFFFF;"><img src="http://l.yimg.com/a/i/us/we/52/<%= week[0].code %>.gif" alt="Intervalles nuageux"></td>
                            </tr>
                        </tbody>
                    </table>
            <div class="row">
                <% for (var index = 1; index < 8 && index < nbDays ; ++index) { %>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" data-day="<%= index %>">
                        <span data-weather="day" style="color: black"><%= week[index].day %></span>
                        <table style="background-color: #FFFFFF; font-family: Roboto,serif; color: #868686;" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr data-weather="day1" style="background-color: #FFFFFF;">
                                <td data-weather="temp" style="background-color: #FFFFFF;" colspan="2">
                                    <div class="temperature" data-weather="temp" style="color: #EB1924;">
                                        <%= week[index].low %>  - <%= week[index].high %>
                                    </div>
                                </td>
                                <td data-weather="image" colspan="3" style="background-color: #FFFFFF;"><img src="http://l.yimg.com/a/i/us/we/52/<%= week[index].code %>.gif" alt="Intervalles nuageux"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>